.container {
    width: 100%;
    height: auto;
    display: flex;
    padding: 50px 0px;
    justify-content: center;
    color: var(--foreground-rgb);
    border-top: 1px solid var(--footer-border-color);
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.icons {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icons a {
    font-size: 2.1rem;
}

.content {
    width: auto;
    margin: 10px 0px 5px 0px;
    text-align: center;
}

.content p {
    font-size: 1.1rem;
}

.content a {
    font-weight: bolder;
}

@media (max-width: 700px) {
    .icons a {
        font-size: 2rem;
    }
    .content {
        margin: 10px 0px 8px 0px;
    }

    .content p {
        font-size: 0.8rem;
    }

    .body .ikan {
        font-size: 0.8rem;
    }
}