.container {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.header {
    width: 100vw;
    height: 9vh;
    box-shadow: 0px -15px 20px 0.5px var(--foreground-rgb);
    color: var(--foreground-rgb);
    padding: 10px 50px 10px 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--background);
}

.header .logo {
    font-weight: 600;
    font-size: 1.8rem;
}

.header div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: 600;
    font-size: 1rem;
    gap: 8px
}

.changeMode {
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.header div .link {
    border-radius: var(--border-radius);
    padding: 12px;
    cursor: pointer;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 500ms;
}

.header div .link:hover {
    background-color: var(--background-hover);
    transform: translateX(-2px) translateY(-2px);
}

.header div .dropdownContainer {
    position: relative;
    flex-direction: column;
}

.header div .dropdownContainer .dropdown {
    position: absolute;
    top: 3rem;
    width: 180px;
    background-color: var(--background-hover);
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 100px -30px var(--foreground-rgb);
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;
}

.header div .dropdownContainer:hover > .header div .dropdownContainer .dropdown {
    visibility: visible;
    opacity: 1;
}

.header div .dropdownContainer .dropdown .dropdownMenu {
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.header div .dropdownContainer .dropdown .dropdownMenu:hover {
    background-color: var(--background);
}

.header div .dropdownContainer:hover > .dropdown {
    visibility: visible;
    opacity: 1;
}

.header svg {
    display: none;
}

.mobileMenu {
    display: none;
}

@media (max-width: 700px) {
    .header {
        padding: 10px 30px 10px 20px;
    }

    .header div {
        display: none;
    }

    .header svg {
        display: flex;
    }

    .header svg path {
        stroke: var(--foreground-rgb);
        transition: all;
        transition-duration: 300ms;
    }

    .header svg[data-isopen="true"] path:nth-child(2) {
        transform: translateX(50px);
        opacity: 0%;
    }

    .mobileMenu {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 30px 0px;
        color: var(--foreground-rgb);
        background-color: var(--background);
        gap: 35px;
        transition: all .4s ease-in-out;
        position: relative;
        top: -300px;
        z-index: -1;
        font-weight: bold;
    }

    .mobileMenu[data-isopen='true'] {
        top: 0px;
        box-shadow: 0px -15px 20px 0.5px var(--foreground-rgb);   
    }

    .dropdownMobileContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .dropdownMobileContainer .dropdownMobile {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 0px;
        transition: all .5s ease .2s;
    }

    .dropdownMobileContainer .dropdownMobile[data-dropdownmobile='true']{
        height: 130px;
        transition: all .5s ease 0s;
    }

    .dropdownMobileContainer .dropdownMobile span {
        padding: 20px 30px;
        border-radius: 5px;
        background-color: var(--background-hover);
        visibility: hidden;
        opacity: 0;
        transition: all .4s ease 0s;
    }

    .dropdownMobileContainer .dropdownMobile span:first-child {
        margin-top: 20px;
    }

    .dropdownMobileContainer .dropdownMobile[data-dropdownmobile='true'] span {
        visibility: visible;
        opacity: 1;
        transition: all .4s ease .5s;
    }

}