:root {
  --max-width: 1100px;
  --border-radius: 5px;

  --foreground-rgb: #A7727D;
  --background: #F9F5E7;
  --background-hover: #F8EAD8;
  --footer-border-color: rgba(167, 114, 125, 30%);
  --button-shadow: #A7D2CB;
}

.dark {
  --background: #1A120B;
  --foreground-rgb: #E5E5CB;
  --background-hover: #3C2A21;
  --footer-border-color: rgba(229, 229, 203, 10%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  gap: 40px;
}

.header {
  display: flex;
  flex-direction: column;
  color: var(--foreground-rgb);
  text-align: center;
}

.header .title {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
}

.header .title .subtitle {
  font-size: 1rem;
}

.body {
  width: auto;
  height: auto;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.body input[type=text] {
  width: 500px;
  height: 50px;
  background-color: var(--background-hover);
  border-radius: 8px;
  border: 2px solid var(--foreground-rgb);
  padding-left: 20px;
  color: var(--foreground-rgb);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

.qrcodeContainer {
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.qrcodeContainer .qrcode {
  width: 100%;
  height: 400px;
  background-color: var(--background-hover);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body .copyField {
  width: auto;
  height: auto;
  position: relative;
}

.body .copyField .icons {
  font-size: 1.4rem;
  color: var(--foreground-rgb);
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  cursor: pointer;
}

.body .copyField .icons span {
  width: 100px;
  height: auto;
  padding: 5px 5px 8px 5px;
  position: absolute;
  top: 2.5rem;
  right: -40px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  opacity: 0;
  transition: all .2s ease;
}

.body .copyField .icons[data-iscopy='false']:hover>span {
  opacity: 0.5;
}

.defaultColor {
  color: var(--foreground-rgb);
}
/* using BEM naming convention */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.container--item-center {
  align-items: center;
  min-height: 50vh;
  min-width: 60vh;
}

.container--attached {
  gap: 5px;
}

.container--row {
  flex-direction: row;
  gap: 10px;
}

.container__item {
  width: 35vw;
  height: auto;
}

.container__item__block {
  width: auto;
  height: auto;
  padding: 10px 20px;
  background-color: var(--background-hover);
  border-radius: 10px;
}

.container__item__block__text {
  color: var(--foreground-rgb);
  font-size: 1rem;
}

.container__item__block__text--sm {
  font-size: 0.8rem;
}

.container__item__block--grow-1 {
  flex-grow: 2;
}

/* using BEM naming convention */

.about {
  width: 50vw;
  color: var(--foreground-rgb);
  font-size: 1.1rem;
  text-align: justify;
}

@media (max-width: 700px) {
  .main {
    height: auto;
  }

  .header .title {
    font-size: 4.5rem;
  }

  .body {
    min-height: 85vh;
  }

  .body input[type=text] {
    width: 350px;
  }

  .qrcodeContainer {
    width: 85vw;
  }

  .about {
    width: 80vw;
    font-size: 0.9rem;
  }
  
  .container__item {
    width: 90vw;
  }

  .container__item__block:nth-child(2) {
    padding: 10px 10px;
    text-align: center;
  }

  .container__item__block__text {
    font-size: 0.8rem;
  }


}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}