:root {
  --max-width: 1100px;
  --border-radius: 5px;

  --foreground-rgb: #A7727D;
  --background: #F9F5E7;
  --background-hover: #F8EAD8;

  --button-shadow: #A7D2CB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  gap: 40px;
  padding: 0px 100px;
}

.header {
  display: flex;
  flex-direction: column;
  color: var(--foreground-rgb);
  text-align: center;
}

.header .title {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
}

.header .title .subtitle {
  font-size: 1rem;
}

.body {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.body input[type=text] {
  width: 500px;
  height: 50px;
  background-color: var(--background-hover);
  border-radius: 8px;
  border: 2px solid var(--foreground-rgb);
  padding-left: 20px;
  color: var(--foreground-rgb);
  font-size: 1rem;
  font-weight: 500;
  outline: none;
}

.qrcodeContainer {
  width: 30vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.qrcodeContainer .qrcode {
  width: 100%;
  height: 400px;
  background-color: var(--background-hover);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body .copyField {
  width: auto;
  height: auto;
  position: relative;
}

.body .copyField .icons {
  font-size: 1.4rem;
  color: var(--foreground-rgb);
  position: absolute;
  right: 1rem;
  top: 0.9rem;
  cursor: pointer;
}

.body .copyField .icons span {
  width: 100px;
  height: auto;
  padding: 5px 5px 8px 5px;
  position: absolute;
  top: 2.5rem;
  right: -40px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  opacity: 0;
  transition: all .2s ease;
}

.body 
.copyField 
.icons[data-iscopy='false']:hover > span {
  opacity: 0.5;
} 

.about {
  width: 50vw;
  color: var(--foreground-rgb);
  font-size: 1.1rem;
  text-align: justify;
}

@media (max-width: 700px) {
  .main {
    height: auto;
  }

  .header .title {
    font-size: 4.5rem;
  }

  .body input[type=text] {
    width: 350px;
  }

  .about {
    width: 80vw;
    font-size: 0.9rem;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}